@import url('https://fonts.googleapis.com/css2?family=Coda&family=Contrail+One&family=Kalam&family=Rampart+One&display=swap');

.rampart-one{
    font-family: 'Rampart One', cursive;
}
.kalam{
    font-family: 'Kalam', cursive;
}
.coda{
    font-family: 'Coda', cursive;
}
.contrail-one{
    font-family: 'Contrail One', cursive;
}
.text-center{
    text-align: center;
}
.button{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.rounded{
    border-radius: 20px;
}
.text-white{
    color: white;
}
#no-display{
    visibility: hidden;
}
#block{
    visibility: visible;
}
@media screen and (max-width: 576px) {
    .judul{
        font-size: 16pt;
    }
    .center{
        text-align: center;
    }
    .judul-ke2{
        font-size: 14pt;
    }
    .subjudul{
        font-size: 13pt;
        margin: 0 5px;
    }
    .card-text h3{
        font-size: 12pt;
    }
    .card-text p{
        font-size: 9pt;
    }
}
@media screen and (min-width: 576px) {
    .judul{
        font-size: 22pt;
    }
    .center{
        text-align: center;
    }
    .judul-ke2{
        font-size: 18pt;
    }
    .subjudul{
        font-size: 13pt;
    }
    .card-text h3{
        font-size: 13pt;
    }
    .card-text p{
        font-size: 11pt;
    }
}
@media screen and (min-width: 992px) {
    .judul{
        font-size: 25pt;
    }
    .center{
        text-align: center;
    }
    .judul-ke2{
        font-size: 20pt;
    }
    .subjudul{
        font-size: 13pt;
    }
    .card-text h3{
        font-size: 13pt;
    }
    .card-text p{
        font-size: 11pt;
    }
}